@model Stajprojem.Models.Works

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt for="MyProperty" style="color:Highlight">Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt for="MyProperty" style="color:Highlight">Work Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt for="MyProperty" style="color:Highlight">Start Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt for="MyProperty" style="color:Highlight">End Date 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

  

        <dt for="MyProperty" style="color:Highlight">Statu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
